[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
chrono = "0.4.42"
clap = { version = "4.5.53", features = ["derive"] }
html2md = "0.2.15"
regex = "1.12.2"
reqwest = { version = "0.12.28", features = ["blocking"] }
scraper = "0.25.0"
